<%- include('partials/head') %>

    <body class="text-center">
        <h1 class="text-white">Featured Projects</h1>
        <div class="mt-3 mb-4">
            <a class="btn btn-warning text-dark" href="/accelerator/new">Submit Proposal</a>
            <button class="btn btn-light ml-3">Info</button>
        </div>


        <div class="container d-flex flex-row flex-wrap justify-content-center">
            <% for (let a of p) { %>
                <div class="project mx-3" style="width:18rem;">
                    <div class="card">
                        <img src="<%= a.image %>" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text text-dark">
                                <%= a.description %>
                            </p>
                            <a href="/accelerator/<%=a._id%>" class="btn btn-primary">About <%= a.name %></a>
                        </div>
                    </div>
                </div>
                <% } %>



    </body>

    </html>